.burger {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .5s ease;
    top:10px;
    left:10px;
}
.burger:hover {
    background: rgb(56 56 56);
}
.burger-strip {
    transition: all .3s ease;
}
.strip div{
    height: 3px;
    border-radius: 2px;
    background: #fff;
    margin: 10px;
    transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 40px;
}
.burger:hover .strip div {
    background: white;
}
/* BURGER 1 */
.burger-strip div:first-child {
    width: 16px;
}

.burger-strip div:last-child {
    width: 28px;
}
.burger:hover .burger-strip div:first-child{
    transform: rotate(45deg) translateY(1px) translateX(5px);
}
.burger:hover .burger-strip div:nth-child(2){
    transform: rotate(-45deg);
}
.burger:hover .burger-strip div:last-child {
    transform: rotate(45deg) translateY(-13px) translateX(2px);
}

.preloader {
position:fixed;
width: 100%;
height: 100vh;
z-index: 999;
overflow: visible;
display:block;
background:#fff;
}

.preloader::before {
content:"";
z-index:1000;
position:absolute;
width:120px;
height:120px;
top:40%;
left:50%;
transform: translate(-50%, -50%) !important;
background:url("./img/dumbbell-solid.svg") no-repeat center center;
animation: preloaded 1.5s infinite;
}

@keyframes preloaded {
0%{ top:40%;opacity:1;}
50%{ top:36%;opacity:0.7;}
100%{ top:40%;opacity:1;}
}

@-webkit-keyframes preloaded {
0%{ top:40%;opacity:1;}
50%{ top:36%;opacity:0.7;}
100%{ top:40%;opacity:1;}
}

.start515 {
left:51.5%;
}

.startup {
display:block;
background:transparent;
z-index:1;
transform-origin: bottom left;
-webkit-translate: skew(20deg); 
-moz-translate: skew(20deg); 
-o-translate: skew(20deg);
translate: skew(20deg);
}

.startup::before {
content:"";
z-index:-10;
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
background: #fff url("./img/naked-g6ac239d64_1920.jpg");
background-size:cover;
filter:brightness(50%) contrast(50%);
}

.colorlight {
background-color:rgba(128,128,128,0.1);
}

.footer-align ul li {
padding:3px;
}
